@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  --white: #f8f0fb;
  --black: #211a1d;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  /* overflow: hidden; */
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}

/* Navigation Bar (Header) */

nav {
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 0.20rem solid;
}

.nav-title {
  font-size: 3.2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 500;
}

.nav-sub-title {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 300;
  font-style: italic;
  width: 30%;
}

nav.light {
  background-color: var(--white);
  color: var(--black);
}

nav.dark {
  background-color: var(--black);
  color: var(--white);
}

/* Mode Toggler (ModeToggle) */

.mode-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 30%;
  height: 100%;
}

.mode-outer-section {
  height: 40%;
  width: 12vh;
  border-radius: 2rem;
  cursor: pointer;
}

.mode-inner-circle {
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 2rem;
}

.mode-text {
  font-size: 1.1rem;
  font-weight: 300;
}

.mode-outer-section.light {
  border: 0.25rem solid var(--black);
  background-color: var(--black);
}

.mode-outer-section.dark {
  border: 0.25rem solid var(--white);
  background-color: var(--white);
}

.mode-inner-circle.light {background-color: var(--white);}
.mode-inner-circle.dark {background-color: var(--black); margin-left: auto;}

.mode-text.inactive {opacity: 0.7;}

/* Mobile Toggle */

.mobile-toggle {
  display: none;
}

.sun {
  fill: var(--black);
  height: 100%;
  max-height: 4vh;
}

.moon {
  fill: var(--white);
  height: 100%;
  max-height: 4vh;
}

/* Task Section */

.task-section {
  height: 88vh;
  width: 26vw;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.task-section.light {
  background-color: var(--white);
  border-right: 0.20rem solid var(--black);
}

.task-section.dark {
  background-color: var(--black);
  border-right: 0.20rem solid var(--white);
}

.task-section-title {
  font-size: 3rem;
  font-weight: 300;
  margin: 2rem 1.5rem 1rem;
}

.task-section-title.light {color: var(--black);}
.task-section-title.dark {color: var(--white);}

/* Task */

.task {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}

.task-title {
  font-size: 1.5rem;
  font-weight: 300;
}

.task-checkbox {
  border-radius: 0.70rem;
  width: 10%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.task-title.completed {text-decoration: line-through;}

.task.light {color: var(--black);}
.task.dark {color: var(--white);}
.task-checkbox.light {border: 0.125rem solid var(--black);}
.task-checkbox.dark {border: 0.125rem solid var(--white);}

.checkmark {height: 90%; display: none;}
.checkmark.completed {display: block;}
.checkmark.light {fill: var(--black);}
.checkmark.dark {fill: var(--white);}




@media screen and (max-width: 800px) {

  nav {
    height: 11vh;
  }

  .nav-sub-title {
    display: none;
  }

  .nav-title {
    font-size: 1.8rem;
  }

  .mode-toggle {
    display: none;
  }

  .mobile-toggle {
    display: flex; 
    height: 50%;
    aspect-ratio: 1/1;
    align-items: center;
  }

  .task-section {
    width: 100%
  }
}